<section>
    <header>
        Login Here
    </header>
    <main>
        <p>Enter your Details Here</p>
        <form method="post" action="">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Email@example.com" required />
            <label for="password">Password</label>
            <input type="Password" name="password" id="password" required />
            <button type="submit">Submit</button>
        </form>
    </main>
</section>